<h1>Crear un nuevo Poducto</h1>

<%= form_for @product, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :ref %>
      <%= f.text_field :ref %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.select :quantity, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9]) %></br>
    </div>
    <div class="form-group">
      <%= f.label :brand %>
      <div class="radio-inline">
        <%= f.radio_button(:brand, "Totto") %>Toto
      </div>
      <div class="radio-inline">
        <%= f.radio_button(:brand, "Americanino") %>Americanino
      </div>
      <div class="radio-inline">
        <%= f.radio_button(:brand, "jean") %>Jean
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="form-group">
      <%= f.label :size %>
      <%= f.text_field :size %>
    </div>
    <div class="form-group">
      <%= f.label :color %>
      <%= f.select :color, options_for_select(["red", "blue", "gold"]) %>
    </div>
    <%= f.submit "Guardar", class: 'btn btn-primary' %>
<% end %>
